html {
  height: 100%;
}

body {
  min-height: 100%;
  font-size: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.5em;
  padding-bottom: 35em;
}

a:link {
  color: #990000;
  text-decoration: none;
  font-weight: 400;
}

a:visited {
  color: #990000;
  text-decoration: underline;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: #ac9d74;
  text-decoration: underline;
}

.navbar .brand, .navbar .nav > li > a {
	padding-left: 1.5em;
  padding-top: 1em;
  font-size: 1.25em;
}

.navbar .brand, .navbar .nav > li > a:hover {
    color: black;
}

ul.nav.navbar-nav {
	width: inherit;
}

.main {
  text-align: center;
  background-image: url('../pics/vizwiz-banner.jpg');
  height: 400px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  color: white;
  overflow: none;
  text-shadow: 2px 2px 5px #000000;
  text-stroke: 1px black;
}

.page {
  min-height: 50%;
}

h1 {
  font-size: 48pt;
}

h2 {
  margin: 3.25em 0 1em 0;
}

h3 {
  display: inline;
}

p {
  font-size: 1.2em;
}

li {
  font-size: 1.1em;
}

.person {
  text-align: center;
  padding: 0.2em;
}

#menu-logo {
    /*width: 15%;*/
    width: 20%;
    float: left;
}

#menu-logo img {
    width: 225px;
    padding-top: 0.5em;
}

#nav_bar {
	background-color: white;
	border-color: white;
	padding: 1em;
}

#img-banner {
  width: 100%;
  margin-top: 2px;
  padding: 15px;
  background-color: rgba(0,0,0,.2);
}

.img-headshots {
  margin-top: 15px;
  height: 225px;
}

#content {
    margin-top: 6em;
}

#banner_tagline {
  text-stroke: 1px black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  /* background-color: rgba(135,206,250,0.1);*/
  background-color: rgba(0,0,0,.2);

}

#vqa-eval-metric {
  height: 80;
  text-align: center;
}

.clear {
    clear: both;
}

.tab {
	margin-left: 40px;
}

.double-tab {
	margin-left: 80px;
}

.triple-tab {
	margin-left: 120px;
}

.dataset_list {
	padding-bottom: 1em;
}

.page.clearfix {
	padding-top: 0em;
/*	padding-top: 11em;*/
}

.results-format {
  font-size: 15px;
  font-weight: 200;
  width: 600px;
  border-style: solid;
  border-width: 1px;
  text-align: justify;
  padding: 5px;
  margin-left: 100px;
}
